   * {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
   }

   #header {
       background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
           url(./image/wave.png)no-repeat center center/cover;
       clip-path: polygon(0 0, 100% 0, 100% 74%, 51% 92%, 0 75%);
       height: 100vh;
       width: 100%;
       position: relative;
   }

   nav {
       width: 67%;
       margin: 0 auto;
   }

   nav,
   ul {
       display: flex;
       justify-content: space-between;
       align-items: center;
   }

   nav ul {
       margin: 50px 0;
   }

   li a {
       text-decoration: none;
       color: white;
       font-size: 18px;
       margin-left: 30px;
       font-weight: 800;
   }

   li {
       list-style: none;
   }

   .active {
       color: red;
   }

   .main_container {
       padding-top: 30px;
       align-items: center;
       text-align: center;
   }

   .content h2 {
       color: white;
       font-size: 25px;
       padding-bottom: 20px;
   }

   .content h1 {
       color: white;
       font-size: 60px;
       padding-bottom: 10px;
       word-spacing: 13px;
   }

   .content p {
       color: white;
       padding-bottom: 20px;
       padding-top: 10px;
   }

   .star {
       color: red;
       display: inline-block;
       position: relative;
       width: 20%;
       font-size: 20px;
   }

   .star::after {
       content: "";
       height: 3px;
       width: 45%;
       background-color: white;
       position: absolute;
       display: block;
       top: 50%;
   }

   .star::before {
       content: "";
       height: 3px;
       width: 45%;
       background-color: white;
       position: absolute;
       display: block;
       top: 50%;
       right: 0;
   }

   .btn1 {
       background-color: rgb(233, 80, 80);
       color: white;
       padding: 10px 15px;
       border: none;
       border: 1px solid white;
       border-radius: 3px;
   }

   .btn2 {
       background-color: transparent;
       color: white;
       padding: 10px 15px;
       border: none;
       border: 1px solid white;

   }

   .btn2:hover {
       background-color: rgb(233, 80, 80);
   }

   .less,
   .greter,
   .down {
       width: 45px;
       cursor: pointer;
       font-size: 20px;
       text-align: center;
       height: 45px;
       transition: .5s;
       position: absolute;
   }

   .less {
       top: 35%;
       background-color: gray;
       left: 15px;
       line-height: 45px;
   }

   .less:hover {
       background-color: red;
       opacity: 0.8;
   }

   .greter {
       top: 35%;
       background-color: gray;
       right: 15px;
       line-height: 45px;

   }

   .greter:hover {
       background-color: red;
       opacity: 0.8;
   }

   .down {
       background-color: rgb(250, 223, 223);
       border-radius: 50%;
       color: red;
       left: 49.5%;
       bottom: 7%;
       line-height: 45px;

   }

   .down:hover {
       opacity: .8;
       background-color: #e74c3c;
       color: #f4f5f9;
   }

   .first_row {
       display: flex;
       justify-content: center;
       align-items: center;
       gap: 30px;
       position: relative;
       margin: 0 auto;
       text-align: center;
       /* flex-wrap: wrap; */
   }

   .col-1 p {
       text-align: center;
       font-size: 15px;
       margin: 15px 0;
   }

   .col-1 h3 {
       position: relative;
       margin: 15px 0;
       transition: 0.5s;
       cursor: pointer;
   }

   .col-1 {
       flex-basis: 20%;
   }

   .col-1-icon {
       height: 50px;
       width: 50px;
       position: relative;
       left: 50%;
       font-size: 22px;
       color: #e74c3c;
       transform: translate(-50%);
       border: 2px solid gray;
       line-height: 50px;
       transition: 0.3s;
       cursor: pointer;
   }

   .active-icon {
       border: 2px solid #e74c3c;
   }

   .active-text {
       color: #e74c3c;
   }